:root {
    --primary-white: #ffffff;
    --primary-black: #0C0C0E;
    --primary-brown: #BB945F;
}


@font-face {
    font-family: 'Forum';
    src: url('../fonts/Forum-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

body.active {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-title {
    text-align: center;
    color: var(--primary-black);
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}

.main-title::after {
    content: '';
    position: absolute;
    background-color: var(--primary-black);
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    bottom: -20px;
}


/* ====  header  ==== */

.header {
    background: var(--primary-black);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header-title {
    color: var(--primary-white);
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 101;
}

.header__right-profile {
    cursor: pointer;
    position: relative;
    z-index: 101;
    width: 28px;
    height: 28px;
}

.header__right-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav.active {
    right: 0;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__list.active {
    right: 0;
    transition: .6s all;
}

.nav__list-link {
    color: var(--primary-white);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    transition: .3s all;
}

.nav__list-link:hover {
    color: var(--primary-brown);
    border-bottom: 1px solid var(--primary-brown);
    transition: .2s all;
}


.nav__open {
    position: relative;
    z-index: 101;
    display: none;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 20px;
    cursor: pointer;
}

.nav__open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__open-btn .btn-elem {
    position: relative;
    width: 45px;
    height: 2px;
    background: var(--primary-white);
    transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.nav__open-btn .btn-elem::before {
    position: absolute;
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    top: -8px;
    background: var(--primary-white);
    transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.nav__open-btn .btn-elem::after {
    position: absolute;
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    top: 8px;
    background: var(--primary-white);
    transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.nav__open-btn.active .btn-elem {
    background: transparent;
}

.nav__open-btn.active .btn-elem::before {
    transform: rotate(45deg);
    top: 0;
    width: 35px;
    transition: top 0.2s linear, transform 0.2s linear 0.2s;
}

.nav__open-btn.active .btn-elem::after {
    transform: rotate(-45deg);
    top: 0;
    width: 35px;
    transition: top 0.2s linear, transform 0.2s linear 0.2s;
}

.burger-fitler.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}

/* ====  welcome  ==== */

.welcome {
    height: 600px;
    width: 100%;
    background-image: url('../img/images/welcome-bg.jpg');
    padding: 220px 0 160px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome .container {
    padding: 0;
}

.welcome::before {
    position: absolute;
    content: '';
    height: 300px;
    width: 100%;
    top: 0;
    z-index: 0;
    left: 0;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome-content {
    background: var(--primary-black);
    padding: 35px 40px;
    display: inline-block;
}

.welcome-article {
    width: 520px;
    color: var(--primary-white);
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* ====  about  ==== */

.about {
    padding-top: 20px;
    padding-bottom: 35px;
}

.about-subtitle {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 61px;
}

.about__carousel {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

.carousel {
    width: 100%;
    overflow-x: hidden;
}

.carousel__list {
    width: 100%;
    height: 560px;
    display: flex;
    gap: 25px;
    transition: 0.5s ease;
}

.carousel-btn {
    width: 24px;
    height: 24px;
    display: none;
}

.carousel-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel__list-item {
    min-width: 450px;
    height: 560px;
}

.carousel__list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination {
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__list-item {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination__list-item span {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--primary-black);
}

.pagination__list-item.active span {
    background-color: var(--primary-brown);
}

.pagination__list-item:nth-child(4),
.pagination__list-item:nth-child(5) {
    display: none;
}


/* ====  favorites  ==== */

.favorites {
    padding-top: 20px;
    padding-bottom: 40px;
}

.favorites-subtitle {
    margin-top: 61px;
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
}

input[type='radio'] {
    appearance: none;
    width: 17px;
    height: 17px;
    min-width: 17px;
    min-height: 17px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type='radio']::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 120ms ease-in-out;
    background-color: black;
}

input[type='radio']:checked::before {
    transform: scale(1);
    background-color: black;
}

input[type='radio']:not(:checked)::before {
    transform: scale(0);
    background-color: transparent;
}

input[type='radio']:checked+span {
    font-weight: 700;
}

.favorites__header {
    margin-top: 35px;
    margin-left: -5px;
}

.favorites__tab {
    display: flex;
    align-items: center;
    column-gap: 80px;
    row-gap: 20px;
}

.favorites__tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.5px;
}

.favorites__tab-item:nth-child(1) {
    width: 114px;
}

.favorites__tab-item:nth-child(2) {
    width: 110.5px;
}

.favorites__tab-item:nth-child(3) {
    width: 129.3px;
}

.favorites__tab-item:nth-child(4) {
    width: 125.3px;
}

.favorites__tab-label {
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
}

.favorites__tab-title {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
}

.favorites__content {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.favorites__content-item {
    width: 590px;
    height: 555px;
    position: relative;
}

.favorites__item {
    width: calc(100% - 40px);
    height: 100%;
    border: 1px solid #000;
    padding: 15px 20px;
}

.favorites__item-title {
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
}

.favorites__item-title::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--primary-brown);
    bottom: 0;
    left: 0;
}

.favorites__item-name {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.favorites__item-name span {
    color: #000;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
}

.favorites__item-name span:first-child {
    text-transform: uppercase;
}

.favorites__item-name span:last-child {
    text-transform: capitalize;
}

.favorites__item-article {
    margin-top: 20px;
    color: #000;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 355px;
    height: 320px;
}

.favorites__item-btn {
    margin-top: 15px;
    cursor: pointer;
    color: #0C0C0E;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    transition: .3s all;
}

.favorites__item-btn:not(:disabled):hover {
    border: 1px solid #BB945F;
    background: #BB945F;
    transition: .2s all;
}

.favorites__item-btn:disabled {
    cursor: default;
    border: 1px solid var(--primary-brown);
    color: var(--primary-brown);
}

.favorites__item-img {
    width: 200px;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.favorites__item-img img {
    width: 100%;
    height: 100%;
}

/* ====  coffee  ==== */

.coffee {
    padding-top: 20px;
    padding-bottom: 40px;
}

.coffee-subtitle {
    margin-top: 61px;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.coffee__content {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.coffee__item-title {
    color: var(--primary-brown);
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee__item-title.right {
    text-align: right;
}

.coffee__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.coffee__list-item {
    display: flex;
    align-items: center;
    gap: 60px;
}

.coffee-name {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 199px;
}

.coffee-right {
    width: 212px;
    text-align: right;
}

.coffee-line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.coffee-price {
    color: #000;
    font-family: 'Forum';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

/* ====  contacts  ==== */

.contacts {
    padding-top: 20px;
    padding-bottom: 40px;
}

.contacts-wrapper {
    margin-top: 61px;
    display: flex;
    justify-content: space-between;
}

.contacts-map {
    max-width: 696px;
    width: 100%;
    height: 414px;
}

.contacts-map img {
    width: 100%;
    height: 100%;
}

.contacts__content-title {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts__list {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__list-item {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts__list-item a {
    color: inherit;
}

.contacts__content-staff {
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}

.contacts__content-staff a {
    font-weight: 700;
    color: inherit;
}

/* ====  card  ==== */

.card {
    padding-top: 20px;
    padding-bottom: 40px;
}

.card-wrapper {
    margin-top: 61px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.card__form {
    max-width: 600px;
    min-width: 600px;
    width: 100%;
}

.card__form-title {
    color: #000;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: center;
}

.form {
    border: 3px solid var(--primary-brown);
    margin-top: 30px;
    padding: 17px 20px 0 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-wrapper {
    width: 100%;
    background-color: var(--primary-brown);
    padding: 20px 20px 25px 20px;
}

.form-title {
    color: #000;
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.form__inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.form__inputs-item {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    color: var(--primary-brown);
    outline: none;
}

.form__inputs-item::placeholder {
    color: #8E8E8E;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-btn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-btn button {
    cursor: pointer;
    display: inline-block;
    padding: 9px 40px;
    border-radius: 2px;
    border: 1px solid var(--primary-black);
    color: var(--primary-black);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: var(--primary-white);
    transition: .3s all;
}

.form-btn button:hover {
    border: 1px solid var(--primary-brown);
    background: var(--primary-brown);
    transition: .2s all;
}

.statistics__list {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-bottom: 16px;
}

.statistics__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics__list-title {
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.statistics-image {
    width: 20px;
    height: 21px;
}

.statistics-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__profile {
    max-width: 456px;
    width: 100%;
}

.card__profile-title {
    color: #000;
    text-align: right;
    font-family: 'Forum';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.card__profile-text {
    color: #000;
    text-align: right;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    margin-top: 35px;
}

.profile__buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.profile__buttons-item {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    color: var(--primary-black);
    text-align: center;
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid var(--primary-black);
    cursor: pointer;
    transition: .3s all;
}

.profile__buttons-item:hover {
    border: 1px solid var(--primary-brown);
    background: var(--primary-brown);
    transition: .2s all;
}


/* ====  footer  ==== */

.footer {
    background-color: var(--primary-black);
    padding: 20px 0 44px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-address {
    color: var(--primary-white);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    max-width: 230px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social__list {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 8px 0;
}

.social__list-link {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social__list-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-schedule {
    color: var(--primary-white);
    text-align: right;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-line {
    margin-top: 30px;
    width: 100%;
    background: var(--primary-white);
    height: 1px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
}

.footer-year,
.footer-link {
    color: var(--primary-white);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    width: 301px;
}

.footer-link:first-child {
    text-align: center;
}

.footer-link:last-child {
    text-align: end;
}


@media (max-width: 1440px) {
    .carousel {
        width: 920px;
    }

    .pagination__list-item:nth-child(4) {
        display: flex;
    }
}

@media (max-width: 1250px) {
    .favorites__content {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .contacts-wrapper {
        flex-direction: column;
        gap: 100px;
    }
}


@media (max-width: 1024px) {
    .nav__open {
        display: flex;
    }

    .nav__list {
        padding: 100px 0;
        width: 332px;
        flex-direction: column;
    }

    .nav {
        background-color: #000;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 100;
        transition: .7s all;
    }

    .coffee__content {
        flex-direction: column;
        gap: 40px;
    }

    .coffee__list-second {
        align-items: flex-end;
    }

    .card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card__profile-text,
    .card__profile-title {
        text-align: center;
    }

    .profile__buttons {
        justify-content: center;
    }

    .footer-year,
    .footer-link {
        width: inherit;
    }

    .card__profile {
        max-width: 100%;
    }
}

@media (max-width: 960px) {
    .carousel {
        width: 450px;
    }

    .pagination__list-item:nth-child(5) {
        display: flex;
    }

    .carousel-btn {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .favorites__tab {
        flex-wrap: wrap;
    }

    .welcome {
        background-image: url('../img/images/welcome-bg-tablet.jpg');
    }
}